
        .container-admin-banner{

            display: flex;
            align-items: center;
            flex-direction: column;
            margin: 80px 0px 20px;
            }
            .logo-admin{
                width: 400px;
            }



        body {
            background: linear-gradient(to right, #ff7e5f, #feb47b);
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .container {
            background: rgba(255, 255, 255, 0.8);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
            color: #333;
        }
        h2 {
            text-align: center;
            margin-bottom: 20px;
            color: #333;
            background: rgba(255, 255, 255, 0.9);
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .btn-primary {
            background: linear-gradient(to right, #6a11cb, #2575fc);
            border: none;
        }
        .btn-warning {
            background: linear-gradient(to right, #f7971e, #ffd200);
            border: none;
        }
        .btn-danger {
            background: linear-gradient(to right, #ff416c, #ff4b2b);
            border: none;
        }
